body{
 background-color: lavenderblush;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-style: italic;
}

h1{
    color: mediumorchid;
    font-family: cursive;
    font-style: oblique;
    font-size:100px;
    text-align: center;
}
h1:hover{
    color: lightcoral;
}
p{
    color:green;
    text-align: center;
    font-size: 25px;

}


hr{
    border:dashed darkviolet 7px;
    border-bottom: none;
    width: 20%;
    margin: 95px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.top-container{
   background-color:lavenderblush;

}
.middle-container{
    background-color: lavender;
    padding-top: 100px;
}
.bottom-container{
    background-color: lightpink;
    padding: 50px 0 20px;
}
.MyFavourites{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:center;
}
.drawing{
    height:200px;
    width:200px;
  border-radius: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.chatting{
    height:200px;
    width:200px;
    text-align: center;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    font-style: oblique;
    color:forestgreen;
}
h3{
    color: rgb(0, 0, 0);
    font-family: monospace;
    text-align: center;
    font-size: 40px;
}
h3:hover{
color: magenta;
}
h4{
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
h5{
    color: navy;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

table{
 margin: 40px;
width:50%;
border-style:dotted;
background-color:mistyrose



}
a{
    text-align: center;
}
tr{
    height: 50px;
    color: purple;
   font-style:inherit;
   font-size: 20px;
   text-align: center;
}
td{
    color:palevioletred;
    font-style:unset;
    font-size: 15px;
    text-align: center;


}
.tweet{
    border-radius: 200px;
    height:70px;
    width: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;

}
.pintrest{
    border-radius: 200px;
    height: 70px;
    width: 70px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}
.info{
    border-radius: 200px;
    height: 70px;
    width: 70px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

li{

    color:slateblue;
    font-size: 20px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.home{
    border-radius: 200px;
    height: 70px;
    width: 70px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}


